include includes/mixins

doctype 5
html.no-js(lang="en, es")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Language", content="en, es")
        meta(
            name="description",
            lang="en",
            content="Sunset Spark is a not-for-profit hackerspace for the immigrant community of Sunset Park. We offer free high quality classes for kids, adults and families in a wide variety of science and engineering subjects like neuroscience, software engineering, and physical computing."
        )
        meta(
            name="description",
            lang="es",
            content="Sunset Spark es una organización sin fines lucrativos “hackerspace” para la comunidad inmigrante de Sunset Park. Brindamos clases de alta calidad para niños, adultos y familias en amplia variedad de temas de ciencia y ingeniería de software y computación físico."
        )
        meta(name="google", content="notranslate")
        title ¡Sunset Spark!
        link(rel="stylesheet", href="css/app.css")
        script(type="text/javascript", src="bower_components/modernizr/modernizr.js")
        script(type="text/javascript", src="//use.typekit.net/ris3wje.js")
        script(type="text/javascript").
            try{Typekit.load();}catch(e){}
        script(type="text/javascript").
            window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
            window.analytics.load("yq65hbjnbu");
            window.analytics.page();
    body
        br
        .row
            .small-12.columns
                #top-logo
                    // Desktop Header
                    .hide-for-small
                        //- img.center(src="img/logo.svg", width="960px", alt="¡Sunset Spark!")
                        img.center(src="img/sunset-spark-trans-960x.png", alt="¡Sunset Spark!")

                    // Mobile Header
                    .row
                        .small-12.show-for-small.header-sml
                            //- img.center(src="img/logo.svg", width="610px", alt="¡Sunset Spark!")
                            img.center(src="img/sunset-spark-trans-610x.png", alt="¡Sunset Spark!")
        br

        .row
            .small-12.columns
                img.dna-hr(src="img/dna.png")
                br

        .row
            .medium-12.columns
                .row
                    // About
                    .medium-12.columns
                        .panel.radius
                            .row
                                .medium-6.columns
                                    h2 Learning for Everyone
                                    hr
                                    p.
                                        <strong>Become an scientist, inventor and lifelong
                                        learner today.</strong>
                                        Sunset Spark is a not-for-profit hackerspace for the
                                        immigrant community of Sunset Park. We offer free high quality
                                        classes for kids, adults and families in a wide variety of
                                        science and engineering subjects like neuroscience, software
                                        engineering, and physical computing.
                                    p.
                                        <strong>21st century skills for 21st century dreams.</strong>
                                        We work with our students to make sure the classes meet their
                                        needs and goals. All our classes incorporate hands-on projects,
                                        experiments, skills and knowledge that will immediately
                                        empower students of all ages to learn more on their own
                                        and use their new knowledge in the real world in creative
                                        and relevant ways.

                                .medium-6.columns
                                    h2 Aprendizaje para Todos
                                    hr
                                    p.
                                        <strong>Convertirse un científico, inventor y aprendiz
                                        permanente.</strong>
                                        Sunset Spark es una organización sin fines lucrativos
                                        “hackerspace” para la comunidad inmigrante de Sunset Park.
                                        Brindamos clases de alta calidad para niños, adultos y
                                        familias en amplia variedad de temas de ciencia y
                                        ingeniería de software y computación físico.
                                    p.
                                        <strong>Habilidades del siglo XXI para sueños del siglo
                                        XXI.</strong>
                                        Trabajamos con estudiantes para asegurar que las clases
                                        pueden satisfacer sus metas. Todas nuestras clases se
                                        incorporara proyectos interactivos que se permite
                                        manipular, experimentos, habilidades y conocimientos que
                                        inmediatamente capacita estudiantes de todas edades para
                                        aprender mas independiente y que utiliza nueva información
                                        en la vida real con una manera mas creativo y relevante.

        .row
            .small-12.columns
                img.dna-hr(src="img/dna.png")
                br
        .row#classes
            .small-12.columns
                .row
                    // Classes
                    .large-8.medium-8.small-12.columns
                        .no-panel.radius
                            .row
                                .large-6.medium-6.columns
                                    h2 Classes
                                    h2.subheader.
                                        Our free classes are open to <strong>all levels of learners</strong>.
                                        We develop rich and innovative curricula that engage
                                        students of diverse skills and backgrounds through hands-on
                                        projects and relatable lessons. If there's a class you want
                                        to take, send us an
                                        <a href="mailto:contact@sunsetspark.org">email</a>.
                                .large-6.medium-6.columns
                                    h2 Clases
                                    h2.subheader.
                                        Nuestra clases son abiertos a <strong>todos niveles de estudiantes</strong>.
                                        Desarrollamos currículo enriquecedor atractivo para
                                        estudiantes de habilidades y experiencias diversas a través
                                        de proyectos interactivos y lecciones conectados. Si hay
                                        una clase que te gusta tomar, envíenos un
                                        <a href="mailto:contact@sunsetspark.org">email</a>.
                    .large-4.medium-4.small-10.small-centered.large-uncentered.medium-uncentered.columns
                        img(src="img/cell.png")
                        br
            br
            .large-12.columns
                .row
                    mixin course_block(courses[0], 12)
                br
                .row
                    mixin course_block(courses[1], 12)
                br
                .row
                    mixin course_block(courses[2], 12)
                br
                .row
                    mixin course_block(courses[3], 12)
                br
                .row
                    mixin course_block(courses[4], 12)
                br

        .row
            .large-12.columns
                img.dna-hr(src="img/dna.png")
                br

        .row#more-classes
            .large-12.columns
                .row
                    .large-12.columns
                        .panel.radius
                            .row
                                .large-6.medium-6.columns
                                    h2 More Classes Coming Soon
                                    hr
                                    p.
                                        We're a small team of two and a half with a passion for
                                        community science. New classes are being developed every
                                        month. If there's a subject you'd like to learn, contact us
                                        below. We'll work together with you to create a fun and
                                        engaging class for you and everyone else in the community.
                                .large-6.medium-6.columns
                                    h2 Más Clases Próximamente
                                    hr
                                    p.
                                        Somos un grupo muy pequeño de dos y medio personas con una
                                        pasión para ciencia en la comunidad. Nuevas clases se
                                        desarrollan cada mes. Vamos a trabajar juntos para crear
                                        una experiencia divertida y interactivo para usted y cada
                                        uno de la comunidad.

        .row#contact
            .large-12.columns
                .row
                    // Send off - Contact
                    .large-12.columns
                        .panel.radius
                            .row
                                .large-6.medium-6.columns
                                    h2 Get In Touch
                                    hr
                                    p.
                                        Questions, comments or have something you want to learn?
                                        We'd love to hear from you! Send us an <a href="mailto:contact@sunsetspark.org">email</a>.
                                    //- a.signup-button-lrg.expand(href="#", data-reveal-id="contact-modal-en").
                                    //-     Contact
                                .large-6.medium-6.columns
                                    h2 Ponerse En Contacto
                                    hr
                                    p.
                                        ¿Preguntas, comentos o tiene alguna tema que quieres
                                        aprender? Si hay una tema que quieres aprender contáctenos
                                        abajo. Nos encantaría saber de ti. Envíenos un
                                        <a href="mailto:contact@sunsetspark.org">email</a>.
                                    //- a.signup-button-lrg.expand(href="#", data-reveal-id="contact-modal-es").
                                    //-     Contacto

        // Contact Form Modal
        .reveal-modal(id="contact-modal-en", data-reveal)
            .panel
                h2 Send Us a Message
                p.lead.
                    We'd love to hear from you. When you send us your message,
                    be sure to leave either your email address or phone number
                    so that we have a way to contact you.
                form(action="//forms.brace.io/contact@sunsetspark.org")
                    .row
                    .small-12
                        .row
                            .medium-3.columns
                                label.right.inline Name
                            .medium-9.columns
                                input(type="text", name='name', placeholder="First and Last Name")
                        .row
                            .medium-3.columns
                                label.right.inline Email
                            .medium-9.columns
                                input(type="email", name='_replyto', placeholder="Email Address")
                        .row
                            .medium-3.columns
                                label.right.inline Phone Number
                            .medium-9.columns
                                input(type="text", name='telephone', placeholder="Phone Number")
                        .row
                            .medium-3.columns
                                label.right.inline Message
                            .medium-9.columns
                                textarea(name='message', placeholder="")
                        input(type="hidden", name='language', value="en")
                    .row
                        input.signup-button-med.center(type="submit", value="Send", href="#", data-reveal-id="contact-post-modal-en").
                            Send Message
                a.close-reveal-modal &#215;

        .reveal-modal(id="contact-modal-es", data-reveal)
            .panel
                h2 Envíenos un Mensaje
                p.lead.
                    Nos encantaría saber de ti. Cuando nos mandas un email, asegúrese de dejar
                    bien su dirección de correo electrónico o número de teléfono para que podemos
                    contactarte.
                form(action="//forms.brace.io/contact@sunsetspark.org")
                    .row
                        .small-12
                            .row
                                .medium-3.columns
                                    label.right.inline Nombre
                                .medium-9.columns
                                    input(type="text", name='name', placeholder="Nombre y Apellido")
                            .row
                                .medium-3.columns
                                    label.right.inline Email
                                .medium-9.columns
                                    input(type="email", name='_replyto', placeholder="Correo Electrónico (o número de teléfono abajo)")
                            .row
                                .medium-3.columns
                                    label.right.inline Tele Numbre
                                .medium-9.columns
                                    input(type="text", name='telephone', placeholder="Número de Teléfono (o correo electrónico por encima)")
                            .row
                                .medium-3.columns
                                    label.right.inline Mensaje
                                .medium-9.columns
                                    textarea(name='message', placeholder="")
                            input(type="hidden", name='language', value="es")
                    .row
                        input.signup-button-med.center(type="submit", value="Send", href="#", data-reveal-id="contact-post-modal-es").
                            Enviar mensaje
                a.close-reveal-modal &#215;

        .reveal-modal(id="contact-post-modal-en", data-reveal)
            .panel
                h2 Thanks for contacting us.
                p.lead We'll contact you soon.
                a.close-reveal-modal &#215;

        .reveal-modal(id="contact-post-modal-es", data-reveal)
            .panel
                h2 Gracias por contáctanos.
                p.lead Nos pondremos en contacto pronto.
                a.close-reveal-modal &#215;

        // Footer
        footer.row
            .large-12.columns
                hr
                //- .row
                //-     .large-6.columns
                //-         p © 2012-2014 Sunset Spark
                //-     .large-6.columns
                //-         ul.inline-list.right
                //-             li
                //-                 a(href='#') Link 1
                //-             li
                //-                 a(href='#') Link 2
                //-             li
                //-                 a(href='#') Link 3

        script(src="bower_components/jquery/dist/jquery.min.js")
        script(src="bower_components/foundation/js/foundation.min.js")
        script(src="js/app.js")
