
mixin course_signup_modal(course)
    .reveal-modal(id="#{course.id}-modal-en", data-reveal)
        .panel
            h2 Sign Up for <strong>#{course.title.en}</strong>
            p.lead #{course.pre_signup.en}
            form
                .row
                    .small-12
                        .row
                            .medium-3.columns
                                label.right.inline Name
                            .medium-9.columns
                                input(type="text", name='name', placeholder="First and Last Name")
                        .row
                            .medium-3.columns
                                label.right.inline Email
                            .medium-9.columns
                                input(type="text", name='email', placeholder="Email Address (or phone number below)")
                        .row
                            .medium-3.columns
                                label.right.inline Phone Number
                            .medium-9.columns
                                input(type="text", name='telephone', placeholder="Phone Number (or email address above)")
                        input(type="hidden", name='language', value="en")
                    a.signup-button-med.center.expand(href="#", data-reveal-id="#{course.id}-post-modal-en").
                        Learn More
            a.close-reveal-modal &#215;
    .reveal-modal(id="#{course.id}-modal-es", data-reveal)
        .panel
            h2 Inscribirse en <strong>#{course.title.es}</strong>
            p.lead #{course.pre_signup.es}
            form
                .row
                    .small-12
                        .row
                            .medium-3.columns
                                label.right.inline Nombre
                            .medium-9.columns
                                input(type="text", name='name', placeholder="Nombre y Apellido")
                        .row
                            .medium-3.columns
                                label.right.inline Emailo
                            .medium-9.columns
                                input(type="text", name='email', placeholder="Correo Electrónico (o número de teléfono abajo)")
                        .row
                            .medium-3.columns
                                label.right.inline Tele Numbre
                            .medium-9.columns
                                input(type="text", name='telephone', placeholder="Número de Teléfono (o correo electrónico por encima)")
                        input(type="hidden", name='language', value="en")
                a.signup-button-med.center.expand(href="#", data-reveal-id="#{course.id}-post-modal-es").
                    Aprenda Más
            a.close-reveal-modal &#215;

mixin course_postsignup_modal(course)
    .reveal-modal(id="#{course.id}-post-modal-en", data-reveal)
        .panel
            h2 <strong>#{course.title.en}</strong>
            p.lead #{course.post_signup.en}
            p We'll contact you soon with more details.
            a.close-reveal-modal &#215;
    .reveal-modal(id="#{course.id}-post-modal-es", data-reveal)
        .panel
            h2 <strong>#{course.title.es}</strong>
            p.lead #{course.post_signup.es}
            p Nos pondremos en contacto con te en breve con más detalles.
            a.close-reveal-modal &#215;

mixin course_block(course, cols)
    .columns(class="medium-#{cols}")
        dl.tabs.class-titles(data-tab)
            dd.tab-en
                a(href="##{course.id}-en"): h3= course.title.en
            dd.tab-es
                a(href="##{course.id}-es"): h3= course.title.es
        .tabs-content
            .content(id="#{course.id}-en")
                .panel.class-desc
                    .row
                        .columns(class="medium-#{cols / 2}")
                            p= course.description.en
                        .columns(class="medium-#{cols / 2}")
                            img.center(src="./img/classes/#{course.id}_465.jpg")
                    .row
                        a.signup-button-med.center(href="#", data-reveal-id="#{course.id}-modal-en").
                            Sign Up Now
            .content(id="#{course.id}-es")
                .panel.class-desc
                    .row
                        .columns(class="medium-#{cols / 2}")
                            p= course.description.es
                        .columns(class="medium-#{cols / 2}")
                            img.center(src="./img/classes/#{course.id}_465.jpg")
                    .row
                        a.signup-button-med.center(href="#", data-reveal-id="#{course.id}-modal-es").
                            Inscribirse Ahora

        mixin course_signup_modal(course)
        mixin course_postsignup_modal(course)
