
mixin course_signup_modal(course)
    .reveal-modal(id="#{course.id}-modal-en", data-reveal)
        .panel
            h2 Sign Up for <strong>#{course.title.en}</strong>
            p.lead Lets do it. I'm in.
            form
                .row
                .small-12
                    .row
                        .small-4.columns
                            label.right.inline Name
                        .small-8.columns
                            input(type="text", name='name', placeholder="First and Last Name")
                    .row
                        .small-4.columns
                            label.right.inline Email
                        .small-8.columns
                            input(type="text", name='email', placeholder="Email Address")
                    .row
                        .small-4.columns
                            label.right.inline Phone Number
                        .small-8.columns
                            input(type="text", name='telephone', placeholder="Phone Number (Not required)")
                    input(type="hidden", name='language', value="en")
            a.large.signup-button-med.expand(href="#", data-reveal-id="#{course.id}-post-modal-en").
                Learn More
            a.close-reveal-modal &#215;
    .reveal-modal(id="#{course.id}-modal-es", data-reveal)
        .panel
            h2 Inscribirse en <strong>#{course.title.es}</strong>
            p.lead Lets do it. I'm in.
            form
                .row
                .small-12
                    .row
                        .small-4.columns
                            label.right.inline Nobmre
                        .small-8.columns
                            input(type="text", name='name', placeholder="Nombre y Apellido")
                    .row
                        .small-4.columns
                            label.right.inline Emailo
                        .small-8.columns
                            input(type="text", name='email', placeholder="Correo Electrónico")
                    .row
                        .small-4.columns
                            label.right.inline Tele Numbre
                        .small-8.columns
                            input(type="text", name='telephone', placeholder="Número de Teléfono (No se requiere)")
                    input(type="hidden", name='language', value="en")
            a.large.signup-button-med.expand(href="#", data-reveal-id="#{course.id}-post-modal-es").
                Aprenda Más
            a.close-reveal-modal &#215;

mixin course_postsignup_modal(course)
    .reveal-modal(id="#{course.id}-post-modal-en", data-reveal)
        .panel
            h2 Great job signing up for <strong>#{course.title.en}</strong>
            p.lead We'll contact you soon.
            a.close-reveal-modal &#215;
    .reveal-modal(id="#{course.id}-post-modal-es", data-reveal)
        .panel
            h2 Stupendous job signing up for <strong>#{course.title.es}</strong>
            p.lead We'll contact you soon.
            a.close-reveal-modal &#215;

mixin course_block(course)
    .large-6.columns
        .overlap
            .overlap-dl
                .show-for-large-up
                    dl.tabs(data-tab)
                        dd.tab-en
                            a(href="##{course.id}-en"): h4= course.title.en
                        dd.tab-es
                            a(href="##{course.id}-es"): h4= course.title.es
                .show-for-medium-only
                    dl.tabs(data-tab)
                        dd.tab-en
                            a(href="##{course.id}-en"): h2= course.title.en
                        dd.tab-es
                            a(href="##{course.id}-es"): h2= course.title.es
                .show-for-small-only
                    dl.tabs(data-tab)
                        dd.tab-en
                            a(href="##{course.id}-en"): h3= course.title.en
                        dd.tab-es
                            a(href="##{course.id}-es"): h3= course.title.es
            .show-for-large-up
                img(src="http://placehold.it/500x312&text=Large")
            .show-for-medium-only
                img(src="http://placehold.it/970x606&text=Medium")
            .show-for-small-only
                img(src="http://placehold.it/610x380&text=Small")
        .tabs-content
            .content(id="#{course.id}-en")
                .panel
                    p= course.description.en
                    a.large.signup-button-med.expand(href="#", data-reveal-id="#{course.id}-modal-en").
                        Sign Up Now
            .content(id="#{course.id}-es")
                .panel
                    p= course.description.es
                    a.large.signup-button-med.expand(href="#", data-reveal-id="#{course.id}-modal-es").
                        Inscribirse Ahora
            .content.active.spacing
                .panel

        mixin course_signup_modal(course)
        mixin course_postsignup_modal(course)
